.vscode/
.github/

CONTRIBUTING.*

.eslintrc.*
.prettierrc
.markdownlint.*
.markdownlintignore
.gitignore
.npmignore

tsconfig.json
tslint.json

package-lock.json

# ignore the .ts files
*.ts

# include the .d.ts files
!*.d.ts