# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Bump NPM package version

run-name: ${{ inputs.customVersion && format('Bump version to {0}', inputs.customVersion) || format('Bump {0} version', inputs.versionType) }}

on:
  workflow_dispatch:
    inputs:
      versionType:
        description: 'Version Type'
        type: choice
        required: false
        default: 'minor'
        options:
          - major
          - minor
          - patch
      customVersion:
        description: 'Custom Version'
        required: false
      commitMessage:
        description: 'Commit Message'
        required: false
        default: 'Release version %s'
      commitBy:
        description: 'Commit By'
        type: choice
        required: true
        default: github-actions[bot]
        options:
          - me
          - github-actions[bot]
      autoMerge:
        description: Merge commit automatically
        type: boolean
        default: true
      autoRelease:
        description: Publish release automatically
        type: boolean
        default: true
      createTag:
        description: Create git tag
        type: boolean
        default: true

jobs:
  test:
    name: Testing package
    uses: ./.github/workflows/node.js.yml

  audit:
    name: Auditing package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - run: npm ci
      - name: Auditing package
        run: npm audit
      - name: Checking outdated dependencies
        run: npm outdated

  bump:
    name: Bump package version and create git tag
    needs: [test, audit]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    outputs:
      version: ${{ steps.version.outputs.version }}
      commitSHA: ${{ steps.commitSHA.outputs.commitSHA }}
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Create release branch
        run: git checkout -b release
      - name: Preparing git profile
        run: |
          git config --global user.name "$USER_NAME"
          git config --global user.email "$USER_EMAIL"
        env:
          USER_NAME: ${{ inputs.commitBy == 'me' && github.actor_id || inputs.commitBy }}
          USER_EMAIL: ${{ inputs.commitBy == 'github-actions[bot]' && 'github-actions[bot]@users.noreply.github.com' || format('{0}+{1}@users.noreply.github.com', github.actor_id, github.actor) }}
      - name: Bump package version
        id: version
        run: |
          NPM_PACKAGE_VERSION=$(npm version $VERSION_TYPE -m "$COMMIT_MSG")
          echo "$NPM_PACKAGE_VERSION"
          echo "version=${NPM_PACKAGE_VERSION}" >> "$GITHUB_OUTPUT"
        env:
          VERSION_TYPE: ${{ inputs.customVersion || inputs.versionType }}
          COMMIT_MSG: ${{ inputs.commitMessage }}
      - name: Get commit SHA id
        id: commitSHA
        run: |
          COMMIT_SHA=$(git rev-parse HEAD)
          echo "$COMMIT_SHA"
          echo "commitSHA=${COMMIT_SHA}" >> $GITHUB_OUTPUT
      - name: Push commit
        run: git push origin release -u --force
      - name: Create Pull Request
        run: gh pr create --fill-verbose
      - name: Forced merge
        if: ${{ inputs.autoMerge }}
        run: gh pr merge --rebase --admin --delete-branch --match-head-commit ${{ steps.commitSHA.outputs.commitSHA }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Push tag
        if: ${{ inputs.createTag }}
        run: git push --tags

  release:
    name: Create release
    needs: bump
    if: ${{ inputs.createTag }}
    uses: './.github/workflows/release-tag.yml'
    with:
      tag: ${{ needs.bump.outputs.version }}
      draft: ${{ !inputs.autoRelease || !inputs.autoMerge }}
      skipTest: true
