name: Create release

on:
  push:
    branches:
      - main

jobs:
  release:
    name: Create release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - run: git fetch --tags
      - run: |
          TAG=$(git tag --points-at $GITHUB_SHA)
          echo "$TAG"
      - run: gh release create $TAG --generate-notes
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
